{{define "chapter02/test_upload3.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax文件上传页面</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
ajax文件上传页面

<form>
    <input type="file" id="file"><br>
   Name: <input type="text" id="name"><br>
    <input type="button" value="提交" id="btn_add">
</form>
{{/*{{urlquery "https://www.liwenzhou.com/posts/Go/go_menu/"}}}*/}}
<script>
    var btn_upload = document.getElementById("btn_add")
    btn_upload.onclick = function (ev){
        var form_data = new FormData();
        // console.log($("#file"));
        var name = document.getElementById("name").value;
        form_data.append("file", $("#file")[0].files[0]);
        form_data.append("name", name);
        $.ajax({
            url: "/chapter02/do_upload3",
            type: "POST",
            data: form_data,
            contentType: false,
            processData: false,
            success:function (data){
                alert(data["code"]);
                alert(data["msg"])
            },
            fail:function (data){
            }
        })
    }
</script>
</body>
</html>
{{end}}